.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### general java artifacts
*target*
*.jar
*.war
*.ear
*.class

### Springframe artifacts
bin
build

### Maven
log/
target/

### Neo4j
**/*.db

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/